<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Comfirm Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">

  </head>
  <body>
	<div class="container text-center" style="max-width: 20%; margin: 0 auto; line-height: 100%; background-color: whitesmoke; color: darkblue;">
           <div class="jumbotron">
            <div class="row">
				<div class="col"><h2>Comfirm Order</h2></div>
			</div>
       </div>
	</div>
			<p>
				
		<div class="container" style="max-width: 40%; margin: 0 auto; line-height: 20%; background-color: whitesmoke; color: darkblue;">
         
			<div class="row" >
				<h6>.</h6>
				<div class="col">
					
					<img class="img-responsive" 
					src="<h4 th:text="${food.name}"> </h4>" width="100" height="100" 
					alt="logo">
					<h4> You've ordered for <h4 th:text="${food.food_name}"> </h4>
					<h6> Amount: $<h6 th:text="${food.price}"> </h6>
						<form th:action="@{/user/addFood}" method="post">
						<input type="hidden" name="name">
						<input type="hidden" name="food" th:value="${food.food_name}" required> 
						<input type="hidden" name="amount" th:value="${food.price}" required>
				
						<div class="m-6" >
                           <button type="submit" class="btn btn-success"> Comfirm</button>
                            <a th:href="@{/user/food}" class="btn btn-danger">Cancel</a>
                        </div>
					</form>
					</p>
				</div>
			</div>
		</div>
	
 </body>
</html>